<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Media Pembelajaran Perangkat Keras</title>
    <link rel="stylesheet" href="../styles/cp.css" />
    <link rel="stylesheet" href="../bootstrap-5.3.2-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../icons-1.11.3/font/bootstrap-icons.min.css" />
</head>

<body>
    <header class="">
        <div class="container-fluid">
            <div class="d-flex help my-4">
                <img class="ms-auto me-0 me-md-3" src="../icon/Help.gif" alt="Bantuan" />
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="card capaian">
                <div class="row">
                    <div class="title col-8 align-self-center text-center">
                        <h5 class="text-center text-capitalize">capaian Pembelajaran</h5>
                    </div>
                    <div class="image col align-self-center">
                        <img src="../icon/CP.gif" alt="gambar-kd" />
                    </div>
                </div>
            </div>

            <!--  -->
            <div class="card capaian-content">
                <div class="border-content">
                    <div class="title text-center">
                        <h5 class="text-center fw-bold">Sistem Komputer</h5>
                    </div>
                    <div class="content">
                        <p class="text-center text-capitalize">peserta didik mampu
                            menyebutkan dan menggunakan lebih
                            banyak perangkat sistem komputer yang ada
                            disekitarnya.</p>
                    </div>
                </div>

            </div>

            <button class="float-btn" id="floatBtn">
                <span class="icon"><img src="../icon/Back.gif" alt=""></span>
            </button>
        </div>
    </main>
    <footer></footer>
    <script src=" ../bootstrap-5.3.2-dist/js/bootstrap.min.js">
    </script>
    <script src="../scripts/jquery.js"></script>
    <script src="../scripts/index.js"></script>
</body>

</html>